
<div class="welcome-handler">
  <div class="ui inverted vertical masthead center aligned segment circular" id="welcome-segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Financial supervision
      </h1>
      <h2>Keep track of your funds in a convenient way</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
  </div>
</div>