<div class="welcome-handler">
  <div class="ui  inverted vertical masthead center aligned segment circular" id="welcome-segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        [404] Woops, we can't find that page.
      </h1>
      <h2>How did you get here?</h2>
    </div>
  </div>
</div>