// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pie-handler{
  display: flex;
  align-items: center;
  justify-content: center;
}
.debit-chart{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.credit-chart{
  display: flex;
  flex-direction: column;
  align-items: center;
}