// Place all the styles related to the MoneyTransaction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.important-handler {
  display: flex;
  align-items: center;
}
.important-checkbox{
  margin-left: 10px;
}
.note-color{
  display: flex;
  align-items: center;
}
.color-label{
  margin-right: 10px !important;
}
.require-note{
  display: flex;
}
.enable-note-checkbox{
  margin-left: 10px;
}